@import url(fonts.css);
@import url("reset.css");

body {
    padding-top: 10px;
}
.header h1 {
    text-align: center;
    font-size: 30px;
}
.header {
    margin-bottom: 100px;
}
/* practice */
.background {
    background: rgb(33, 28, 64);
    background: radial-gradient(circle, rgba(33, 28, 64, 1) 50%, rgba(0, 0, 0, 1) 100%);
    padding-top: 15px;
}
.practice {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    font-family: "Pixelify Sans", "sans serif";
    line-height: 1.15;
}
.game {
    margin-bottom: 100px;
}
.game h2 {
    font-size: 40px;
    text-align: center;
    color: #fff;
}
.game-line-one {
    width: 50px;
    height: 100px;
    background-color: black;
    margin: 0 auto;
    background-image: url(../img/practice/stars_space.gif);
    visibility: hidden;
}
.game-line-two {
    width: 625px;
    height: 50px;
    background-color: black;
    visibility: hidden;
    background-image: url(../img/practice/stars_space.gif);
}
.game-line-three {
    width: 50px;
    height: 50px;
    background-color: black;
    visibility: hidden;
    background-image: url(../img/practice/stars_space.gif);
}
.game-line-four {
    width: 975px;
    height: 50px;
    background-color: black;
    visibility: hidden;
    text-align: right;
    color: #fff;
    padding-top: 15px;
    padding-right: 10px;
    font-size: 20px;
    background-image: url(../img/practice/stars_space.gif);
}
.game h2:hover ~ .game-line-one,
.game-line-one:hover {
    visibility: visible;
}
.game-line-one:hover ~ .game-line-two,
.game-line-two:hover {
    visibility: visible;
}
.game-line-two:hover ~ .game-line-three,
.game-line-three:hover {
    visibility: visible;
}
.game-line-three:hover ~ .game-line-four,
.game-line-four:hover {
    visibility: visible;
}
.game-line-four a:hover {
    color: yellowgreen;
}
.code {
    display: none;
}
.code img {
    margin-right: 100px;
    vertical-align: middle;
    max-width: 400px;
}
.code-text {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
}
.code:target {
    display: block;
}
.galaxy {
    max-width: 100%;
    background-color: #880dda;
    padding: 20px 10px;
}
.galaxy:target {
    display: block;
}
.galaxy-title {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.galaxy-text {
    font-size: 23px;
    text-align: justify;
}
.galaxy-text:not(:last-child) {
    margin-bottom: 20px;
}
.galaxy-sub-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}
.features {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.features > div {
    margin-bottom: 20px;
}
.features div:last-child {
    margin-bottom: 0;
}
.features-one,
.features-two,
.features-three,
.features-four,
.features-five,
.features-six {
    min-width: 250px;
    max-width: 250px;
    min-height: 200px;
    display: none;
}
.features-one:target,
.features-two:target,
.features-three:target,
.features-four:target,
.features-five:target,
.features-six:target {
    display: block;
}
.feature-block {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 0;
}
.features-text {
    font-size: 18px;
    text-align: center;
}
.features-text span {
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 20px;
}
.features-button {
    font-size: 23px;
    text-align: center;
}
.features-button a {
    display: inline-block;
    line-height: 1.27;
    margin-bottom: 5px;
}
.features-button a:hover {
    color: yellowgreen;
}
.features-button a::before {
    content: "";
    background: url(../img/practice/sun.png) no-repeat 0 0 / 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.features-button a::after {
    content: "";
    background: url(../img/practice/line.gif) repeat 0 0 / 25px;
    width: 100%;
    height: 13px;
    display: block;
    visibility: hidden;
}
.features-button a:hover::after {
    visibility: visible;
}
.feature-block .feature-block-one,
.feature-block .feature-block-two,
.feature-block .feature-block-three {
    display: inline-block;
    margin-right: 120px;
    min-width: 250px;
    vertical-align: top;
}
.feature-block div:last-child {
    margin-right: 0px;
}

/* consulting */

.consulting {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
    font-family: "Inter", "sans serif";
    color: #7d7d7d;
    font-size: 18px;
    line-height: 1.46;
    margin-bottom: 150px;
}
.consulting h2 {
    text-transform: capitalize;
}
.consulting h2,
.consulting h3 {
    font-family: "Poppins", "sans serif";
    color: #37393f;
    font-weight: 600;
    line-height: 1.27;
}
.management {
    max-width: 692px;
    margin-bottom: 100px;
}
.management-title {
    font-size: 30px;
    margin-bottom: 15px;
}
.management h3 {
    font-size: 25px;
}
.management-start {
    margin-bottom: 42px;
}
.management-text p:not(:last-child) {
    margin-bottom: 12px;
}
.management-proactively h3 {
    font-size: 20px;
    color: #6b77e5;
    margin-bottom: 12px;
}
.management-proactively {
    margin-bottom: 40px;
}
.benefits {
    font-size: 0;
}
.benefits-img,
.benefits-inner {
    display: inline-block;
    vertical-align: top;
}
.benefits-img {
    width: 331px;
    height: 262px;
    margin-right: 29px;
}
.benefits-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.benefits-inner {
    max-width: 332px;
}
.benefits-text h2 {
    font-size: 25px;
    margin-bottom: 15px;
    text-transform: none;
}
.benefits-text h3 {
    color: #40ddb6;
    font-size: 20px;
    margin-bottom: 21px;
}
.benefits-list {
    font-size: 18px;
}
.benefits-list li:not(:last-child) {
    margin-bottom: 30px;
}
.benefits-list li::before {
    content: "";
    background: url(../img/consulting/check.svg) no-repeat center / 27px;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
}
.benefits {
    margin-bottom: 50px;
}
.frequently h2 {
    font-size: 30px;
    margin-bottom: 15px;
}
.consulting h5 {
    display: inline-block;
    background: url(../img/consulting/box.png) no-repeat 0 6px/ 12px;
    font-weight: 500;
    color: #37393f;
    padding-left: 18px;
}
.whitecollar {
    max-width: 673px;
    margin-bottom: 100px;
}
.whitecollar-title h5 {
    margin-bottom: 16px;
}
.whitecollar-title h2 {
    font-size: 40px;
}
.whitecollar-title {
    margin-bottom: 9px;
}
.whitecollar-text p:not(:last-child) {
    margin-bottom: 16px;
}
.whitecollar-text,
.whitecollar-card {
    margin-bottom: 48px;
}
.whitecollar-card > li {
    padding: 28px 41px 28px 38px;
    border: 1px solid #e3e3e3;
}
.whitecollar-card > li h3 {
    font-size: 20px;
    margin-bottom: 19px;
}
.whitecollar-card > li h3::before {
    content: "";
    background: url(../img/consulting/check.svg) no-repeat 0 center / 27px;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 19px;
}
.card-text {
    padding-left: 46px;
}
.card-text p:not(:last-child) {
    margin-bottom: 10px;
}
.whitecollar-card li:not(:last-child) {
    margin-bottom: 31px;
}
.whitecollar-button a {
    text-transform: capitalize;
    padding: 22px 35px;
    background: #6b77e5;
    color: #fff;
    display: inline-block;
}
.whitecollar-button a:hover {
    background: #919af2;
}
.work-title {
    text-align: center;
    margin-bottom: 41px;
}
.work-title h5 {
    margin-bottom: 16px;
}
.work-title h2 {
    font-size: 40px;
}
.work-card {
    padding-top: 40px;
    font-size: 0;
}
.card {
    font-size: 18px;
    width: 386px;
    padding: 58px 43px;
    background-color: #f4f4f4;
    text-align: center;
    display: inline-block;
}
.card:nth-child(1)::before {
    background: url(../img/consulting/calendar.svg) center / cover no-repeat;
}
.card:nth-child(2)::before {
    background: url(../img/consulting/puzzle.svg) center / cover no-repeat;
}
.card:nth-child(3)::before {
    background: url(../img/consulting/shield.svg) center / cover no-repeat;
}
.card:not(:last-child) {
    margin-right: 31px;
}
.card::before {
    content: "";
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: -97px;
    margin-bottom: 22px;
}
.card h3 {
    font-size: 25px;
    margin-bottom: 16px;
}
.work-card-text p {
    margin-bottom: 15px;
}
.work-card-text p:last-child {
    margin-bottom: 37px;
}
.card-link a {
    color: #6b77e5;
    font-weight: 600;
}
.card-link a:hover {
    color: #919af2;
    text-decoration: underline;
}

/* jewellery */

.jewellery {
    margin-bottom: 100px;
}
.jewellery-item {
    max-width: 1230px;
    font-family: "Cormorant Infant", "Serif";
    margin: 0 auto;
    font-weight: 700;
}
.custom-title {
    padding-top: 150px;
    max-width: 488px;
    font-size: 60px;
    display: inline-block;
    line-height: 1.15;
}

.custom-title h2::after {
    content: "";
    background-color: #78473b;
    width: 62%;
    height: 3px;
    display: block;
    margin-top: 13px;
}
.custom {
    font-size: 0;
}
.custom-img {
    display: inline-block;
    vertical-align: top;
}
.custom > .custom-img {
    padding-top: 32px;
    margin-right: 45px;
}

.img-wrap {
    max-width: 334px;
    height: 381px;
    border: 1px solid #000;
}

.img-wrap img {
    width: 100%;
    max-height: 100%;
    margin: 9px 0 0 10px;
    object-fit: cover;
}

.custom-img a:first-of-type {
    max-width: 334px;
    max-height: 381px;
    display: block;
    margin-bottom: 34px;
}

.custom-img a:nth-child(2) {
    display: inline-block;
    margin-bottom: 4px;
}
.img-wrap:hover {
    opacity: 0.7;
}
.new-collection-wrap {
    display: inline-block;
    vertical-align: top;
}
.new-collection-wrap h3 {
    max-width: 339px;
    font-size: 46px;
    margin-bottom: 31px;
    margin-right: 0;
    line-height: 1.13;
}
.custom-img h4,
.custom-img h5 {
    font-size: 24px;
    line-height: 1.4;
}
.custom-img h4:hover {
    color: orangered;
}

/* footer */

footer {
    text-align: end;
    padding: 10px;
}
.social {
    text-align: center;
    margin-bottom: 10px;
}
.social a img {
    width: 40px;
}
.social a {
    margin-right: 30px;
}
