@import url(fonts.css);
@import url("reset.css");

[class*="__container"] {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    font-family: "Causten", "sans serif";
}
.wrapper__page {
    flex-grow: 1;
}

.wrapper__header {
    margin-bottom: 100px;
}
.header h1 {
    font-size: 50px;
    text-align: center;
}

/* form */
.section {
    padding: 15px 0;
    margin-bottom: 100px;
}
.section__container {
    max-width: 895px;
}
.title {
    color: #3c4242;
    font-family: "Core Sans C", "sans-serif";
    font-weight: 600;
    text-transform: capitalize;
}
.section__title {
    font-size: 28px;
    line-height: 1.19;
    letter-spacing: 0.56px;
    margin-bottom: 20px;
}
.section__sub-title {
    font-size: 22px;
    line-height: 1.52;
    letter-spacing: 0.44px;
    margin-bottom: 50px;
}
.form {
    color: #3c4242;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
}
.form__column {
    display: flex;
    flex-wrap: wrap;
    row-gap: 31px;
    margin: 0 -21px;
}
.form__column:not(:last-child) {
    margin-bottom: 60px;
}
.form__item {
    flex-basis: 50%;
    min-width: 320px;
    flex-shrink: 1;
    padding: 0 21px;
}
.item-form__label {
    display: inline-block;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.item-form__input {
    height: 54px;
    width: 100%;
    border-radius: 8px;
    background: #f6f6f6;
    padding: 0 22px;
    transition: 0.4s;
    outline-color: transparent;
}
.item-form__input:focus {
    outline-color: #722ad1;
}
/* ==== PLACEHOLDER ==== */
.textarea::placeholder,
.item-form__input::placeholder {
    text-transform: capitalize;
    font-size: 16px;
}
.wrapper__footer {
    background: #3c4242;
    color: #fff;
    text-align: center;
    padding: 20px 15px;
}

.item-form--textarea {
    flex-basis: 100%;
}
.textarea {
    width: 100%;
    min-height: 100px;
    height: 150px;
    padding: 18px 22px;
    border-radius: 8px;
    background: #f6f6f6;
    resize: vertical;
    transition: 0.4s;
    outline-color: transparent;
}
.textarea:focus {
    outline-color: #722ad1;
}
/* ==== checkbox  ===== */

.item-form__wrapper {
    position: relative;
}
.item-form__wrapper:not(:last-child) {
    margin-bottom: 12px;
}
.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    
}
.item-form__label-checkbox {
    font-size: 21px;
    font-weight: 400;
    display: inline-flex;
    gap: 11px;
    cursor: pointer;
    align-items: center;
    transition: 0.3s;
}

.item-form__label-checkbox::before {
    content: "";
    width: 19px;
    height: 19px;
    border: 2px solid #bebcbd;
    flex-shrink: 0;
    border-radius: 3px;
    transition: background-color 0.3s;
}
.checkbox:checked + .item-form__label-checkbox::before {
    background-color: #722ad1;
}

.checkbox:focus-visible + .item-form__label-checkbox{
    outline: 2px solid #722ad1;
}

/* ==== button ==== */

.form__button {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.button {
    padding: 12px 40px;
    border-radius: 8px;
    flex-shrink: 0;
}
.button--purple {
    background-color: #8a33fd;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}
.button--purple:hover {
    background-color: #722ad1;
}
.button--gray {
    background-color: #f6f6f6;
    color: #807d7e;
    font-weight: 500;
    transition: 0.3s;
}
.button--gray:hover {
    background-color: #f6dbdb;
}
.form__button:not(:last-child) {
    margin-bottom: 20px;
}
.button--size {
    padding: 16px 20px;
    font-weight: 500;
}
/* section two */
.title--line {
    display: flex;
    column-gap: 15px;
}
.title--line::before {
    content: "";
    width: 6px;
    height: 28px;
    border-radius: 10px;
    background-color: #8a33fd;
    display: inline-block;
}
.item-form--one-third {
    flex-basis: 33.3333%;
    min-width: 246px;
}
.item-form--padding-line {
    padding: 0 0 32px;
    border-bottom: 1px solid #edeef2;
}

.form__column--margin:not(:last-child) {
    margin-bottom: 43px;
}

.item-form--margin:not(:last-child) {
    margin-bottom: 30px;
}
/* FORM TEXT */
.form__text:not(:last-child) {
    margin-bottom: 30px;
}
.text-form-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.52;
    letter-spacing: 0.44px;
}
.text-form-title:not(:last-child) {
    margin-bottom: 8px;
}
.form__text p {
    color: #3c4242;
    font-size: 16px;
    font-weight: 400;
}
/* radio */
.item-form--padding {
    padding: 0;
}
.form__wrapper:not(:last-child) {
    padding: 0 0 30px;
    border-bottom: 1px solid #edeef2;
    margin-bottom: 30px;
}
.info-block {
    border-radius: 12px;
    background-color: #f6f6f6;
    padding: 38px 48px 39px 28px;
}
.info-block__item:not(:last-child) {
    padding: 0 0 25px;
    border-bottom: 1px solid #edeef2;
    margin-bottom: 25px;
}
.item-info__wrapper {
    position: relative;
}
.radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
.item-info__label-radio {
    display: inline-flex;
    min-height: 22px;
    cursor: pointer;
    gap: 25px;
    font-size: 20px;
    font-weight: 700;
}
.item-info__label-radio::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid transparent;
    outline: 1px solid #3c4242;
    background-color: transparent;
    display: inline-block;
    transition: 0.3s;
}
.item-info__label-radio--center::before {
    transform: translateY(12px);
}
.radio:checked + .item-info__fieldset .item-info__label-radio::before {
    border: 3px solid #f6f6f6;
    background-color: #8a33fd;
}
.radio:focus-visible + .item-info__fieldset {
    outline: 2px solid #722ad1;
}

.item-info__fieldset{
    padding: 3px;
    transition: 0.5s;
}

.info-block--padding {
    padding: 45px 48px 45px 28px;
}

.item-info__text {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
}
.text-info__sub {
    color: #807d7e;
    font-family: Causten;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text-info__left {
    flex-basis: 50%;
}
.text-info__right {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}
.item-info__form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    margin: 0 -15px;
}
.item-form__input--border {
    border-radius: 8px;
    border: 1px solid #3c4242;
}
.item-form--padding {
    padding: 0 15px;
}
.item-info__label-sub {
    font-size: 16px;
    font-weight: 400;
    padding-left: 43px;
}
.item-info__img {
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
    min-height: 130px;
    align-items: center;
}
.img__wrapper {
    flex: 0 0 80px;
}
.img__wrapper img {
    width: 100%;
    border-radius: 8px;
}
.button--pay-now {
    padding: 16px 20px;
    border-radius: 8px;
    background: #8a33fd;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

/* section 3 */

.consulting__tile {
    text-align: center;
    color: #37393f;
    margin-bottom: 40px;
}
.consulting-title {
    font-family: "Poppins", "sans-serif";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
}
.consulting__tile h4 {
    font-family: "Inter", "sans-serif";
    font-size: 18px;
    font-weight: 500;
    display: inline-flex;
    gap: 6px;
}
.consulting__tile h4:not(:last-child) {
    margin-bottom: 16px;
}
.consulting__tile h4::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #40ddb6;
    display: inline-block;
    align-self: center;
}
.form__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -17.5px;
    row-gap: 28px;
    margin-bottom: 50px;
}

.inner-form__item {
    flex-basis: 50%;
    padding: 0 17.5px;
}
.inner-form__item input {
    width: 100%;
    min-width: 320px;
    height: 65px;
    padding: 0 40px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}
.inner-form__item textarea::placeholder,
.inner-form__item input::placeholder {
    color: #37393f;
    font-family: "Inter", "sans-serif";
    font-size: 18px;
}
.inner-form__item textarea {
    width: 100%;
    height: 222px;
    min-height: 150px;
    padding: 22px 40px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    resize: vertical;
}
.inner-form__item--basis {
    flex-basis: 100%;
}
.button--submit {
    padding: 21px 61px 22px 61px;
    background-color: #6b77e5;
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0;
}
.form__button-consulting {
    text-align: center;
}
